<!-- Dashboard View -->
<div class="container-fluid border border-dark border-3 rounded-3 my-2 p-2 shadow d-flex flex-wrap justify-content-center"
    style="width: 80%;">
    <div class="col-12 d-flex flex-wrap row justify-content-end">
        <div class="col-4">
            <a href="/add-post"><button id="add-post" type="submit" class=" col-12 btn btn-dark btn-lg border-info my-2"><span class="me-3 ">+</span>Add
                Post</button></a>
        </div>

    </div>

    {{#each posts}}
    <a href="/dashboard/edit-post" class="text-decoration-none text-info ms-1">
        <div class="d-flex flex-wrap row justify-content-between bg-dark bg-gradient my-2 border border-2 rounded border-info"
            style="width: 98%;">
            <div class="col-6 text-start text-white fs-3">
                {{this.title}}
            </div>
            <div class="col-6 text-end text-muted mt-3">
                {{format_date this.created_at}}
            </div>
        </div>
    </a>
    {{/each}}
</div>

<script src="/javascript/dashboard.js"></script>

