<!-- Dashboard View -->
<div class="container-fluid border border-warning border-3 rounded-3 my-2 p-2 shadow d-flex flex-wrap justify-content-center"
    style="width: 80%;">
    <div class="col-12 d-flex flex-wrap row justify-content-center">
         <div class="col-lg-6 col-sm-12 my-2">
            <button id="add-post" type="button" class=" col-12 btn btn-dark btn-lg border-warning"><span
                    class="me-4 text-warning fs-4">+</span>Add
                Post</button></a>
        </div>
    </div>

    {{#each posts}}
    <a href="/dashboard/edit/{{this.id}}" class="text-decoration-none col-12 d-flex flex-wrap row justify-content-center">
        <div class="d-flex flex-wrap row justify-content-between bg-dark bg-gradient my-2 border border-2 rounded border-warning"
            style="width: 98%;">
            <div id="post-title" class="col-6 text-start text-muted fs-3">
                {{this.title}}
            </div>
            <div class="col-6 text-end text-muted mt-3">
                {{format_date this.created_at}}
            </div>
        </div>
    </a>
    {{/each}}
</div>

<script src="/javascript/dashboard.js"></script>