{{!-- <form class="login-form">
    <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>
<script src="/javascript/login.js"></script> --}}

<!-- Login -->
        {{!-- <div id="login-form" class="container-fluid border border-dark border-3 rounded-3 my-2 shadow" style="width: 45%;">
            <div class="d-flex flex-wrap row justify-content-between bg-dark bg-gradient">
                <div class="col-12 text-center text-light fs-3">
                    Login
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center row bg-dark ">
                <div class="col-sm-12 text-start text-light border border-info rounded-bottom my-2 fs-6 p-3 bg-dark bg-gradient d-flex flex-wrap justify-content-center"
                    style="width: 98%;">
                    <div class="input-group my-3 " style="width: 98%;">
                        <input id="email-login" type="text" class="form-control bg-dark text-info border-info" placeholder="Email"
                            aria-label="Email">
                    </div>

                    <div class="input-group mb-3" style="width: 98%;">
                        <input id="email-login" type="password" class="form-control bg-dark text-info border-info" placeholder="Password"
                            aria-label="Password">
                    </div>

                    <button id="submit" type="button"
                        class="d-flex flex-wrap justify-content-center col-12 btn btn-dark btn-lg border-info my-2"
                        style="width: 45%;">Login</button>

                    <div class="col-12 text-end text-dark">
                        <a href="#" class="text-decoration-none text-info ms-1">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="/javascript/login.js"></script>  --}}
        <!-- End Login -->
        <!-- Login -->
<div class="container-fluid border border-dark border-3 rounded-3 my-2 shadow" style="width: 45%;">
    <div class="d-flex flex-wrap row justify-content-between bg-dark bg-gradient">
        <div class="col-12 text-center text-light fs-3">
            Login
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center row bg-dark ">
        <div class="col-sm-12 text-start text-light border border-info rounded-bottom my-2 fs-6 p-3 bg-dark bg-gradient d-flex flex-wrap justify-content-center"
            style="width: 98%;">
            <div class="input-group my-3 " style="width: 98%;">
                <input id="email-login" type="text" class="form-control bg-dark text-info border-info" placeholder="Email"
                    aria-label="Email">
            </div>
            <div class="input-group mb-3" style="width: 98%;">
                <input id="password-login" type="password" class="form-control bg-dark text-info border-info" placeholder="Password"
                    aria-label="Password">
            </div>
            <button id="submit" type="button"
                class="d-flex flex-wrap justify-content-center col-12 btn btn-dark btn-lg border-info my-2"
                style="width: 45%;">Login</button>
            <div class="col-12 text-end text-dark">
                <a href="/signup" class="text-decoration-none text-info ms-1">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>
<!-- End Login -->