<!-- New Post -->
<div class="container-fluid border border-dark border-3 rounded-3 my-2 shadow" style="width: 80%;">
    <div class="d-flex flex-wrap row justify-content-between bg-dark bg-gradient">
        <div class="col-12 text-center text-light fs-3">
            New Post
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center row bg-dark ">
        <div class="col-sm-12 text-start text-light border border-info rounded-bottom my-2 fs-6 p-3 ps-1 bg-dark bg-gradient d-flex flex-wrap justify-content-end"
            style="width: 98%;">
            <div class="col-12">
                Title:
            </div>
            <div class="input-group my-3 " style="width: 98%;">
                <textarea id="title" class="form-control bg-dark text-info border-info" id="title" rows="1"></textarea>
            </div>

            <div class="col-12">
                Post Body:
            </div>

            <div class="input-group my-3" style="width: 98%; height: 5rem;">
                <textarea id="post-body" class="form-control bg-dark text-info border-info" id="post-body" rows="3"></textarea>
            </div>

            <div class="col-12 d-flex flex-wrap justify-content-end" style="width: 98%;">
                <button type="button"
                    class="d-flex flex-wrap justify-content-center col-12 btn btn-dark btn-lg border-info my-2"
                    style="max-width: 26vw;"><span class="me-3 ">+</span>Add Post</button>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/add-post.js"></script>
<!-- End New Post-->