<!-- Sign Up -->
<div class="container-fluid border border-dark border-3 rounded-3 my-2 shadow" style="width: 45%;">
    <div class="d-flex flex-wrap row justify-content-between bg-dark bg-gradient">
        <div class="col-12 text-center text-light fs-3">
            Sign Up
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center row bg-dark ">
        <div class="col-sm-12 text-start text-light border border-info rounded-bottom my-2 fs-6 p-3 bg-dark bg-gradient d-flex flex-wrap justify-content-center"
            style="width: 98%;">
            <div class="input-group my-3 " style="width: 98%;">
                <input id="username-signup" type="text" class="form-control bg-dark text-info border-info"
                    placeholder="Username" aria-label="Username">
            </div>
            <div class="input-group my-3 " style="width: 98%;">
                <input id="email-signup" type="text" class="form-control bg-dark text-info border-info"
                    placeholder="Email" aria-label="Email">
            </div>

            <div class="input-group mb-3" style="width: 98%;">
                <input id="password-signup" type="password" class="form-control bg-dark text-info border-info"
                    placeholder="Password" aria-label="Password">
            </div>

            <button id="signup" type="button"
                class="d-flex flex-wrap justify-content-center col-12 btn btn-dark btn-lg border-info my-2"
                style="width: 45%;">Sign
                Up</button>

            <div class="col-12 text-end text-dark">
                <a href="/login" class="text-decoration-none text-info ms-1">Login</a>
            </div>
        </div>
    </div>
</div>
<!-- End Sign Up -->
<script src="/javascript/signup.js"></script>